html {
  box-sizing: border-box;
  overflow-x: auto;
}

*, ::after, ::before {
  box-sizing: inherit;
}

#root {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  text-align: left;
  margin: 0 auto;
  padding: 20px;
  background-color: #e6e6e6;
  color: #e6e6e6;
  line-height: 1.5;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  background-image: url("background.jpg");
  background-size: cover;
  min-height: 100vh;
}

@media (max-width: 767px) {
  #root {
      background-position: center;
  }
}